{% extends "auth/login.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Seaside - 重置密码{% endblock %}

{% block page_content %}
     <ul class="list-inline nav-slide">
        <li class="active">
            <a>重置密码</a></li>
     </ul>
    <form action="{{url_for('auth.reset_password_request')}}" method="post" name="reset_password_request">
        <div class="form-group">
            {{ macros.field_with_error(form.email, '邮箱') }}
        </div>
        <div class="form-group">
            {{ form.confirm(class="form-control btn btn-primary") }}
        </div>
        {{ form.hidden_tag() }}
    </form>
{% endblock %}