/*globals*/
body{font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 13px; line-height: 1.7; word-wrap: break-word; }

.row{margin-left: auto; margin-right: auto;}

a{text-decoration: none;}
a:hover, a:link, a:focus, a:visited{text-decoration: none;}

blockquote{font-style: italic; font-family: Georgia, Times, "Times New Roman", serif; font-size: 13px;}

/*widgets*/
.dot{margin: 0 3px; font-size: larger;}
.margin-left-sm{margin-left: 5px;}
.cast-away-margin{margin: 0;}
.cast-away-radius{border-radius: 0!important;}
.cast-away-border{border: none!important;}
.cast-away-shadow{box-shadow: none!important;}

img.avatar-rounded{border-radius: 4px;}
img.img-inline{float: left; height: 112px; width: 200px; border-radius: 4px; margin: 1px 10px 5px 0;}

.overflow-with-hover {white-space:nowrap; overflow:hidden; text-overflow: ellipsis;}
.overflow-with-hover:hover{text-overflow:inherit; overflow: scroll;}

.editable {color: #575757; background-color: #e0e0e0; font-size: smaller; border-radius: 3px; padding: 2px;}
a.editable {color: #575757;}
.edit-wrap{}
.edit-hidden {display: none;}
.hidden-default{display: none;}

.btn-muted{color: #fff; background-color: #555; border-color: #999;}
.btn-muted:focus,.btn-muted:hover{color:#fff;}

.shadowed{box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);}

.card{display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
    position: relative;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-sizing: border-box;
}

.anchor-muted{color: #adadad;}
.anchor-muted:hover{color: #23527c;}

button.a-styled-button{color: #337ab7; border: none; display: inline; padding: 0; background-color: inherit;}
button.a-styled-button:hover{color: #23527c; }

.alert-sm{padding: 5px; margin-bottom: 15px;}
.alert-md{padding: 10px; margin-bottom: 18px;}

/*components*/
.navbar-brand span{font-size: xx-small;}
.navbar-nav>li>a.button-styled-a{color: #fff!important; border-radius: 3px; border: 1px solid #000000; background-color: #4b4b4b; padding: 6px 12px;}
.navbar-nav>li>a.button-styled-a:hover{background-color: #4b4b4b;}

.navbar-nav .user-operation-dropdown-menu{min-width: 120px;}
.navbar-nav .user-operation-dropdown-menu>li>a{padding-left: 12px;}
.navbar-nav .user-operation-dropdown-menu>li>a>i{width: 14px; margin-right: 10px;}
.navbar-nav .user-operation-info{width: 120px; padding-left: 45px;}
.navbar-nav .user-operation-avatar{position: absolute; left: 12px; top: 12.5px;}

#sidebar{}
#sidebar>div{margin-top: 16px;}
#sidebar ul li{border-radius: 4px;}
#sidebar ul li:hover{background-color: #e0e0e0; color: #242424;}
#sidebar ul li a{display: inline-block; padding: 4px; color: inherit;}

#content{min-height: 500px;}

#footer{font-size: smaller; color: #adadad; background-color: #242424; clear: both;}
#footer a:hover, #footer a:focus, #footer a:link, #footer a:visited{color: #adadad;}
#footer-middle-section{margin-top: 20px; margin-bottom: 10px;}
#footer-middle-section dl>dt{color: #fff; font-size: small;}
#footer-bottom-section{margin-top: 10px; margin-bottom: 10px;}
#footer-bottom-section a{display: inline-block;}


.modal-header{background-color: #242424; color: #fff;}
.modal-header .close{background-color: #fff;}

.user-profile-card{margin-bottom: 25px;}
.profile-thumbnail{position: absolute;}
.profile-head{padding-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #e8e8e8}
.profile-head .profile-head-info{margin-left: 115px; min-height: 100px;}
.profile-head-info .items>.item {margin: 10px, 0; padding: 5px 0;}
.profile-head-info .profile-icon {color: #adadad; display: inline-block;  width: 20px; text-align: center;}
.profile-head-info .info-describe{padding-top: 10px; border-top: 1px dotted #e8e8e8; margin-top: 10px;}
.profile-operation{padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #e8e8e8;}
.profile-operation .profile-operation-text{padding-top: 5px;}

.user-profile-section-wrap{margin-top: 25px; margin-bottom: 25px;}
.user-profile-section-head-name{padding: 0; margin: 5px auto;}
.listed-item+.listed-item {margin-top: 15px ; padding-top: 15px; border-top: 1px dotted #e8e8e8;}
.post-oneline-main{margin-left: 60px;}
.post-oneline-like-cnt{color: #575757; background-color: #e0e0e0; text-align: center; border-radius: 4px; width: 46px; padding: 3px; float: left;}
.like-cont-num{font-size: 16px; font-weight: 700;}
.like-cont-type{font-size: 12px; font-weight: 400;}

.profile-sidebar-item{}
.profile-sidebar-item+.profile-sidebar-item{padding-bottom: 15px; padding-top: 15px;border-top: 1px solid #e8e8e8; }
.following-item{float: left; padding: 2px 30px 8px 0;}
.following-item+.following-item{padding-left: 30px; border-left: 1px solid #e8e8e8; }



div.main_content_tool_bar{font-size: 15px; padding: 10px 0; border-bottom: 1px solid #e0e0e0;}
div.main_content_tool_bar span.title{font-weight: bold;}
div.main_content_tool_bar span>i{margin-right: 5px;}
div.main_content_tool_bar a{color: inherit; display: inline-block;}
div.main_content_tool_bar a:hover, div.main_content_tool_bar a:focus{text-decoration: underline;}

div.flashed{margin: 10px auto;}

div.post-tabs{margin-top: 16px;}
ul.posts{list-style-type: none; padding: 0; margin: 20px auto;}
div.post-tabs ul.posts{margin: 0; border-top: none;}
ul.posts li.post{padding: 5px auto 10px auto; margin: 20px auto; border-bottom: 1px solid #e0e0e0;}

div.post-date{}
div.like-button-item{position: absolute; left: -48px; width: 40px;}
.btn-like{padding-top: 1px; padding-bottom: 1px; font-size: 13px; line-height: 1.5; border-radius: 3px; background-color: #e8e8e8
}

div.post-content{margin-left: 48px; min-height: 48px;}
div.post-body{position: relative;}
div.post-title{margin-bottom: 3px; font-weight: bold; font-size: 15px;}
div.post-title >a:hover, div.post-title:focus{text-decoration: underline;}
div.post-author{margin-bottom: 3px; font-size: 14px;}
div.post-author >a, div.post-author >a:hover, div.post-author >a:focus{color: #242424; font-weight: bold;}
div.post-footer{text-align: left; margin-bottom: 6px;}
div.post-footer >a:hover, div.post-footer >a:focus{text-decoration: underline;}

ul.comments {
    list-style-type: none;
    padding: 0;
    margin: 16px 0 0 0;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0;
    margin: 0;
}
div.flask-pagedown-preview {
    margin: 10px 0 10px 0;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}


.login-header{margin-top:50px;margin-bottom:15px;}
.nav-slide{margin-top:20px;margin-bottom:20px;text-align:center}
.nav-slide>li{margin:10px 10px;}
.nav-slide>li>a{color:#adadad;line-height:1.42857143;border:none;padding:2px;font-size:large;text-decoration:none;}
.nav-slide>li.active>a,.nav-slide>li.active>a:focus,.nav-slide>li.active>a:hover{color:#242424;cursor:default;border-bottom:2px solid #242424;}
#login-footer{margin: 40px auto 5px auto;display: block}
#login-footer li{padding: 0;margin: 0;}
#login-footer li>a{color:#adadad;}
#login-footer li>a:focus,#login-footer li>a:hover{cursor:default;text-decoration:underline}

div.changelog dl{overflow: hidden; line-height: 1.42857143}
div.changelog dl>dt{color: #242424; font-size: 110%; margin-bottom: 10px}

