<div class="changelog">
<dl class="text-muted">
    <dt class=""><i class="icon-wrench"></i> 更新日志<span class="small"><a href="#" title="coming soon" class="pull-right">查看全部>></a></span></dt>
        {% for changelog in changelogs %}
    <dd>
        <div>
{#            <div class="pull-right text-muted">#}
{#                <div >{{ moment(changelog.timestamp).format('L') }}</div>#}
{#            </div>#}
            <div>
                {{ changelog.body }}
            </div>
        </div>
    </dd>
    {% endfor %}
</dl>
</div>