{% macro pagination_widget(pagination, endpoint, fragment='') %}
<ul class="pagination">
    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="active">
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &raquo;
        </a>
    </li>
</ul>
{% endmacro %}


{% macro posts_card(posts) %}
<div class="list-group">
    <div class="list-group-item text-muted"><h5 class="list-group-item-heading">文章</h5></div>
    <div class="list-group-item">
    {% if posts is none %}
        <p class="list-group-item-text text-muted">这个人很懒, 什么都没写...</p>
    {% else %}
        {% for post in posts %}
            <div class="posts-card-post">
                <div class="profile-like-cont">
                    <div class="like-cont-num">{{post.liker.count()}}</div>
                    <div class="like-cont-type">Like</div>
                </div>
                <div class="profile-post-main">
                    <div class="post-title"><a href=" {{ url_for('.post', id=post.id) }}">{{ post.title }}</a></div>
                    <div class="profile-post-text">
                        {{ post.pretty_oneline() }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endmacro %}


{% macro field_errors(errors) %}
    {% if errors %}
    <ul class="list-unstyled small text-danger">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endmacro %}
