{% macro pagination_widget(pagination, endpoint, fragment='') %}
<ul class="pagination">
    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="active">
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &raquo;
        </a>
    </li>
</ul>
{% endmacro %}

{% macro pagination_with_ajax(pagination, endpoint, sectionClassName, fragment='') %}
    <ul class="pagination">
        <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
            <a href="javascript:;"{% if pagination.has_prev %} onclick="loadSection('{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}', '{{ sectionClassName }}')"{% endif %}>
                &laquo;
            </a>
        </li>
        {% for p in pagination.iter_pages() %}
            {% if p %}
                {% if p == pagination.page %}
                <li class="active">
                    <a href="javascript:;" onclick="loadSection('{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}', '{{ sectionClassName }}')">{{ p }}</a>
                </li>
                {% else %}
                <li>
                    <a href="javascript:;" onclick="loadSection('{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}', '{{ sectionClassName }}')">{{ p }}</a>
                </li>
                {% endif %}
            {% else %}
            <li class="disabled"><a href="javascript:;">&hellip;</a></li>
            {% endif %}
        {% endfor %}
        <li{% if not pagination.has_next %} class="disabled"{% endif %}>
            <a href="javascript:;" {% if pagination.has_next %} onclick="loadSection('{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}', '{{ sectionClassName }}')"{% endif %}>
                &raquo;
            </a>
        </li>
    </ul>
{% endmacro %}

{% macro posts_card(posts) %}
<div class="list-group">
    <div class="list-group-item text-muted">
        <h5 class="list-group-item-heading user-profile-section-head-name">文章</h5>
    </div>
    {% if posts %}
    <div class="list-group-item">
        {% for post in posts %}
            <div class="listed-item">
                <div class="post-oneline-like-cnt">
                    <div class="like-cont-num">{{post.liker.count()}}</div>
                    <div class="like-cont-type">Like</div>
                </div>
                <div class="post-oneline-main">
                    <div class="post-title"><a href=" {{ url_for('.post', id=post.id) }}">{{ post.title }}</a></div>
                    <div class="profile-post-text">
                        {{ post.pretty_oneline() }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="list-group-item disabled">
        <h5 class="text-muted">什么也没有呀...</h5>
    </div>
    {% endif %}
</div>
{% endmacro %}

{% macro field_with_error(field, holder) %}
    {% if field.errors %}
    <div class="form-group has-error">
        {{ field.label(class="control-label", text=field.errors[0]) }}
        {{ field(class="form-control", placeholder=holder) }}
    </div>
    {% else %}
    <div class="form-group">
        {{ field.label(class="control-label hidden-default") }}
        {{ field(class="form-control", placeholder=holder) }}
    </div>
    {% endif %}
{% endmacro %}

{% macro flashed() %}
    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="cast-away-margin alert alert-md alert-{{ message[0] }}">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
        {{ message[1] }}
    </div>
    {% endfor %}
{% endmacro %}

{% macro tagtrees(trees) %}
    {% for tree in trees %}
    <div class="tag-tree">
        <div class="tag-tree-name">{{ tree.name }}</div>
        <div class="tags">
            <ul class="list-inline">
                {% for tag in tree.tags %}
                <li><a href="#" class="tag">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
{% endmacro %}