<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <a href="{{ url_for('.user', username=post.author.username) }}">
            <img class="img-rounded pull-left" src="{{ post.author.gravatar(size=40) }}">
        </a>
        <div class="post-content">
            <div class="post-header text-muted">
                <div class="text-muted"> xxx 喜欢这篇文章</div>
                <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            </div>
            <div class="post-body">
                <div class="post-title">
                    {% if post.title %}
                    <a href=" {{ url_for('.post', id=post.id) }}">
                        {{ post.title }}
                    </a>
                </div>
                <div class="like-button-item">
                    <button class="btn btn-like btn-block" onclick="like({{ post.id }}, this)">
                    {% if not current_user.is_liking(post) %}
                        <i class="icon-heart-empty"></i>
                    {% else %}
                        <i class="icon-heart"></i>
                    {% endif %}
                    <div class="like-cont-num">{{ post.liker.count() }}</div>
                    </button>
                </div>
                <div class="post-author">
                    <a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>
                {% if post.author.about_me %}
                    , {{post.author.about_me}}
                    {% endif %}
                </div>
                {% endif %}
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            <div class="post-footer text-muted">
                {% if current_user == post.author %}
                <i class=" icon-edit"></i> <a class="text-muted" href="{{ url_for('.edit', id=post.id) }}">编辑</a>
                {% elif current_user.is_administrator() %}
                <i class=" icon-edit margin-left-sm"></i> <a class="text-muted" href="{{ url_for('.edit', id=post.id) }}">编辑[Admin]</a>
                {% endif %}
                <i class="icon-comment-alt margin-left-sm"></i> <a class="text-muted" href="{{ url_for('.post', id=post.id) }}#comments">
                    {{ post.comments.count() }} 条评论
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>


