{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- self defined head -->
    {% block head %}{% endblock %}
    <title>{% block title %}Seaside{% endblock title %}</title>
    <!-- <link rel="icon" href="/static/favicon.ico"> -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/seaside.css">
    <link rel="stylesheet" type="text/css" href="../static/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/buttons.css">
    <script src="../static/scripts/seaside.js"></script>
</head>


<body>
    <div class="seaside-container-fluid">

        <!-- 导航栏 -->
        <div class="row pinned">
        {% block nav_bar %}
        <nav class="navbar navbar-inverse cast-away-radius">
            <div class="col-md-10 col-md-offset-1">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('main.index') }}">Seaside<span>メイド喫茶</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
{#                    <form class="navbar-form navbar-left" role="search" action="{{url_for('main.search')}}" method="post" name="search">#}
{#                        <div class="input-group">#}
{#                            {{g.search_form.search(class="form-control", placeholder="搜索你感兴趣的内容...")}}{{g.search_form.hidden_tag()}}#}
{#                            <span class="input-group-btn">#}
{#                                <button class="btn btn-muted" type="submit"><i class="icon-search"></i></button>#}
{#                            </span>#}
{#                        </div>#}
{#                    </form>#}
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ url_for('main.index') }}">首页 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">标签</a></li>
                        {% if current_user.is_administrator() %}
                        <li><button type="button" class="btn btn-warning navbar-btn" data-toggle="modal" data-target="#changelogform">Log[Admin]</button></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="button-styled-a btn navbar-btn" href="{{ url_for("main.write_post") }}" target="_blank">写文章</a></li>
                        {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle user-operation-info" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img class="user-operation-avatar" src="{{ current_user.gravatar(size=25) }}"> {{ current_user.username | capitalize }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu user-operation-dropdown-menu" style="width: 100px">
                                <li><a href="{{ url_for('main.user', username=current_user.username) }}"><i class="icon-user"></i>个人资料</a></li>
                                <li><a href="{{ url_for('auth.change_password') }}"><i class="icon-key"></i>变更密码</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url_for('auth.logout') }}"><i class="icon-signout"></i>退出</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}
        </div>

        {% block page_content %}
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-8 col-sm-6" id="main-content-wrap">
                {% block main_content_tool_bar %}
                {% endblock %}
                <div class="flashed">
                    {{ macros.flashed() }}
                </div>
                {% block main_content %}
                {% endblock %}
            </div>
            <div class="col-md-4 col-sm-6" id="sidebar">
                <div class="row">
                    <div class="col-md-11 col-md-offset-1">
                    {% block sidebar_content %}
                        <div class="sidebar-item-wrap footer text-seaside">
                             <ul class="list-inline">
                                <li><a href="https://github.com/theLastTrain/seaside" target="_blank" title="source">源码@GitHub</a></li>
                                <li><span class="dot">·</span></li>
                                <li><a href="#" target="_blank" title="donate">捐助本站</a></li>
                                <li><span class="dot">·</span></li>
                                <li><a href="#" target="_blank" title="resume">Hire me</a></li>
                                <li><a href="http://flask.pocoo.org/" target="_blank" title="flask">Flask</a></li>
                                <li><span class="dot">·</span></li>
                                <li><a href="http://www.bootcss.com" title="Bootstrap中文网">Bootstrap</a></li>
                                <li><span class="dot">·</span></li>
                                <li><b>Seaside</b></li>
                            </ul>
                        </div>
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block modals %}
    <!--changelogform-->
{#    <div id="changelogform" class="modal fade" role="dialog" aria-labelledby="changlog-modal">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <button type="button" class="button button-circle button-tiny pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#                    <h4 class="modal-title">更新日志</h4>#}
{#                </div>#}
{#                <form role="form" action="{{url_for('main.changelog')}}" method="post" name="search">#}
{#                <div class="modal-body">#}
{#                        {{g.changelog_form.body(class="form-control", placeholder="请填写更新内容...")}}{{g.changelog_form.hidden_tag()}}#}
{#                </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>#}
{#                        <button type="submit" class="btn btn-warning">提交</button>#}
{#                    </div>#}
{#                </form>#}
{#            </div><!-- /.modal-content -->#}
{#        </div><!-- /.modal-dialog -->#}
{#    </div><!-- /.modal -->#}

    {% endblock %}
    {% endblock %}

    {% block scripts %}
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="../static/scripts/jquery.pin.js"></script>
        <script>
            $(".pinned").pin({containerSelector: ".seaside-container-fluid", minWidth: 960});
        </script>
        {{ moment.include_moment() }}<!--must be imported after jquery because moment depend on it-->
        {{ moment.lang('zh-CN') }}
    {% endblock %}
</body>
</html>
