{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    {% block metas %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}
    <title>{% block title %}Seaside{% endblock title %}</title>
    {% block styles %}
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/seaside.css">
    <link rel="stylesheet" type="text/css" href="../static/font-awesome.min.css">
    {% endblock %}
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/scripts/seaside.js"></script>
</head>
<body>
    <div class="seaside-container-fluid">
        <!-- 导航栏 -->
        <div class="row pinned">
            {% block nav_bar %}
            <nav class="navbar navbar-inverse cast-away-radius">
                <div class="col-md-10 col-md-offset-1">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('main.index') }}">Seaside</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{{ url_for('main.index') }}">文章</a></li>
                            <li><a href="{{ url_for('main.tags') }}">标签</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="button-styled-a btn navbar-btn" href="{{ url_for("main.write_post") }}" target="_blank">写文章</a></li>
                            {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for("main.user_messages") }}"><span class="sr-only"></span><span><i class="icon-bell-alt"></i><span class="mail-status unread"></span></span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle user-operation-info" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img class="user-operation-avatar" src="{{ current_user.gravatar(size=25) }}"> {{ current_user.username | capitalize }} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu user-operation-dropdown-menu">
                                    <li><a href="{{ url_for('main.user', username=current_user.username) }}"><i class="icon-user"></i>个人资料</a></li>
                                    <li><a href="{{ url_for('auth.change_password') }}"><i class="icon-key"></i>变更密码</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ url_for('auth.logout') }}"><i class="icon-signout"></i>退出</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% endblock %}
        </div>
        {% block page_content %}
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-8 col-sm-8 col-xs-12" id="main-content-wrap">
                {% block main_content_toolbar %}
                {% endblock %}
                <div class="flashed">
                    {{ macros.flashed() }}
                </div>
                {% block main_content %}
                {% endblock %}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" id="sidebar">
                <div class="row">
                    <div class="col-md-11 col-md-offset-1">
                    {% block sidebar_content %}
                        <div class="sidebar-item-wrap footer text-seaside">
                             <ul class="list-inline">
                                <li><a href="https://github.com/theLastTrain/seaside" target="_blank" title="source">源码@GitHub</a></li>
                                <li><span class="dot">·</span></li>
                                <li><a href="#" target="_blank" title="donate">捐助本站</a></li>
                                <li><span class="dot">·</span></li>
                                <li><a href="#" target="_blank" title="resume">Hire me</a></li>
                                <li><a href="http://flask.pocoo.org/" target="_blank" title="flask">Flask</a></li>
                                <li><span class="dot">·</span></li>
                                <li><a href="http://www.bootcss.com" title="Bootstrap中文网">Bootstrap</a></li>
                                <li><span class="dot">·</span></li>
                                <li><b>Seaside</b></li>
                            </ul>
                        </div>
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
    {% block modals %}
    <div class="modal fade" id="confirmationMoadl" tabindex="-1" role="dialog" aria-labelledby="confirmationMoadlLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="confirmationMoadlLabel">激活你的帐号</h4>
                </div>
                <div class="modal-body">
                    <h4><span class="text-muted">你好啊(｡･ω･)ﾉﾞ, </span>{{ current_user.username }}</h4>
                    <div class="cast-away-margin alert alert-md alert-warning">
                        为了正常使用写文章, 喜欢, 关注等功能, 请验证你的邮箱以激活账号.
                    </div>
                    <p><span class="text-muted">你的注册邮箱:</span> <span class="h4">{{ current_user.email }}</span></p>
                    <p class="text-muted">
                        如果你没有收到激活邮件, 请检查垃圾箱或者 <a id="resendConfirmation" href="{{ url_for('auth.resend_confirmation') }}">重发验证邮件</a>
                    </p>
                    <div id="resendRet"></div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
        <script src="../static/scripts/popover/seaside.popover.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="../static/scripts/jquery.pin.js"></script>
        <script>$(".pinned").pin({containerSelector: ".seaside-container-fluid", minWidth: 960});</script>
        {{ moment.include_moment() }}<!-- depends on it-->
        {{ moment.lang('zh-CN') }}
    {% endblock %}
</body>
</html>
