{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content_tool_bar %}
    <div class="page_content_tool_bar">
        <span class="text-muted title"><i class="icon-list-alt"></i>最新动态</span>
        <span class="text-muted pull-right"><i class="icon-cog"></i>
            {% if show_followed %}
                <a class="small" href="{{ url_for("main.show_all") }}">全部文章</a>
            {% else %}
                <a class="small" href="{{ url_for("main.show_followed") }}">关注者文章</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block page_content %}
{% include '_posts.html' %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index')}}
</div>
{% endblock %}

{% block sidebar_content %}
    <div>
        <ul class="list-unstyled text-muted" >
            <li><a href="#"><i class="icon-folder-open-alt"></i> 我的收藏 <span class="badge">50</span></a></li>
            <li><a href="#"><i class="icon-check"></i> 我关注的主题 <span class="badge">99</span></a></li>
            <li><a href="#"><i class="icon-heart-empty"></i> 我喜欢的</a></li>
        </ul>
    </div>
{% include '_changelogs.html' %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../static/scripts/post.operations.js"></script>
{% endblock %}





