{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Seaside - Post{% endblock %}

{% block main_content %}
{% include '_posts.html' %}
<h4 id="comments">评论</h4>

{% if current_user.confirmed and current_user.can(Permission.COMMENT) %}
<div class="comment-form">
    <form class="clearfix" action="{{url_for('main.post', id=posts[0].id)}}" method="post" name="comment-form">
        {{ form.submit(class="pull-right btn btn-primary") }}
        {{ form.body(class="form-control comment-body", rows=1, required=True, only_input=True) }}
        {{ form.hidden_tag() }}
    </form>
    <div class="help-block alert alert-md alert-warning clearfix">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
        评论支持部分 Markdown 语法: <span class="text-danger">**bold**  *italic*  [link](http://example.com)  > 引用  ```code```  - 列表</span>
    </div>
</div>

{% endif %}
{% include "_comments.html" %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
</div>
{% endif %}
{% endblock %}

{% block sidebar_content %}
<div class="sidebar-item-wrap">
    <a>1</a> 人参与讨论
</div>
<div class="sidebar-item-wrap">
    <h5>文章状态</h5>
    <p class="text-muted">最后活动于</p>
</div>
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ pagedown.include_pagedown() }}
    {{ super() }}
{% endblock %}


