{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Seaside - Post{% endblock %}

{% block main_content %}
{% include '_posts.html' %}
<h4 id="comments">评论</h4>
{#{% if current_user.can(Permission.COMMENT) %}#}
{#<div class="comment-form">#}
{#    {{ wtf.quick_form(form) }}#}
{#</div>#}
{#{% endif %}#}
{% include "_comments.html" %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
</div>
{% endif %}
{% endblock %}

{% block sidebar_content %}
<div class="sidebar-item-wrap">
    <a>1</a> 人参与讨论
</div>
<div class="sidebar-item-wrap">
    <h5>文章状态</h5>
    <p class="text-muted">最后活动于</p>
</div>
    {{ super() }}
{% endblock %}

