{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{#{% block head %}#}
{#    <script type="text/javascript" src="../static/scripts/ckeditor/ckeditor.js"></script>#}
{#    <script type="text/javascript">#}
{#    window.onload = function()#}
{#    {#}
{#        CKEDITOR.replace( 'editor01' ,#}
{#                {#}
{#                    toolbar: 'Basic',#}
{#                    uiColor: '#9ab8f3'#}
{#                });#}
{#    };#}
{#    </script>#}
{#{% endblock %}#}

{% block title %}Seaside - Post{% endblock %}

{% block main_content %}

{#<textarea rows="30" cols="50" name="editor01"></textarea>#}

{% include '_posts.html' %}
<h4 id="comments">评论</h4>
{% if current_user.can(Permission.COMMENT) %}
<div class="comment-form">
    {{ wtf.quick_form(form) }}
</div>
{% endif %}
{% include "_comments.html" %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
