{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Seaside - {{ user.username }}{% endblock %}
{% block main_content %}
<div class="user-profile-card card" xmlns="http://www.w3.org/1999/html">
    <div class="profile-head">
        <div class="container-fluid">
            <div class="top">
                <h4>{{user.username}}{% if user.about_me %}<span class="text-muted">, {{user.about_me}}</span>{% endif %}</h4>
            </div>
            <div class="body">
                <img class="avatar-rounded pull-left" src="{{ user.gravatar(size=100) }}">
                <div class="profile-head-info-wrap text-muted">
                    <div class="item-wrap">
                        <span class="item" id="item-location">
                            <span class="profile-icon glyphicon glyphicon-map-marker"></span>
                                {% if user.location and user.location != ''%}{{ user.location }}{% else %}居住地未填写{% endif %}
                        </span>
                        <span class="item">
                            {% if user.gender%}
                            <span class="profile-icon glyphicon glyphicon-queen"></span>
                            {% else %}
                            <span class="profile-icon glyphicon glyphicon-king"></span>
                            {% endif %}
                        </span>
                    </div>
                    <div class="item-wrap">
                        <span class="item" id="item-job">
                            <span class="profile-icon glyphicon glyphicon-briefcase"></span>
                            {% if user.job and user.job != ''%}{{ user.job }}{% else %}所在职业未填写{% endif %}
                        </span>
                    </div>
                    <div class="user-self-intro">
                        {% if user.self_intro %}{{ user.self_intro }}{% else %}个人简介未填写{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-operation">
        <div class="container-fluid">
            <div class="profile-operation-text pull-left text-muted">获得 <i class="icon-heart"></i> <strong>{{ user.like_count }}</strong> 喜欢</div>
            <div class="pull-right">
            {% if user == current_user %}
                <a class="btn btn-primary btn-sm" href="{{ url_for('.edit_profile') }}">变更资料</a>
            {% endif %}
            {% if current_user.is_administrator() %}
                <a class="btn btn-warning btn-sm" role="button" href="mailto:{{ user.email }}"><i class="icon-envelope"></i></a>
            {% endif %}
            {% if user != current_user %}
                {% if current_user.is_authenticated and current_user.is_following(user) %}
                <a class="btn btn-sm btn-default" role="button" name='follow' href="{{ url_for('.follow', username=user.username) }}">取消关注</a>
                {% else %}
                <a class="btn btn-sm btn-primary " role="button" name="follow" href="{{ url_for('.follow', username=user.username) }}">关注</a>
                {% endif %}
            {% endif %}
                <button class="btn btn-sm btn-default" role="button" onclick="$('#sendMessageDialog').modal()"><i class="icon-envelope"></i></button>
            </div>
        </div>
    </div>
    <div class="profile-nav shadowed">
        <nav class="navbar navbar-default cast-away-margin cast-away-border hidden-xs">
            <ul class="nav navbar-nav">
                <li class="active"><a class="navbar-brand" href="{{ url_for('.user', username=user.username) }}"><i class="icon-home"></i></a></li>
                <li><a class="load-section" href="{{ url_for('.user_posts', username=user.username) }}">文章 {{ user.posts.count() }}</a></li>
                <li><a class="load-section" href="{{ url_for('.liked_posts', username=user.username) }}">喜欢 {{ user.liked.count() }}</a></li>
            </ul>
        </nav>
        <ul class="nav nav-pills visible-xs-inline-block">
            <li><a href="{{ url_for('.user', username=user.username) }}"><i class="icon-home"></i></a></li>
            <li><a class="load-section" href="{{ url_for('.user_posts', username=user.username) }}">文章 {{ user.posts.count() }}</a></li>
            <li><a class="load-section" href="{{ url_for('.liked_posts', username=user.username) }}">喜欢 {{ user.liked.count() }}</a></li>
        </ul>
    </div>
</div>
<div class="user-profile-section-wrap">{{ macros.posts_card(posts) }}</div>
{% endblock %}

{% block sidebar_content %}
<div class="sidebar-item-wrap text-muted" id="user-follows">
    <div class="following-item">
        <a class="load-section text-muted" href="{{ url_for('.followers', username=user.username) }}"><span>关注者</br><strong>{{ user.followers.count() - 1 }}</strong>人</span></a>
    </div>
    <div class="following-item">
        <a class="load-section text-muted" href="{{ url_for('.followed_by', username=user.username) }}"><span>关注了</br><strong>{{ user.followed.count() - 1 }}</strong>人</span></a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="sidebar-item-wrap text-muted" id="ping-time">
    <p>上次登陆 <strong>{{ moment(user.last_seen).fromNow() }}</strong></p>
    <p>加入时间 <strong>{{ moment(user.member_since).format('L') }}</strong></p>
</div>
{% endblock %}

{% block modals %}
{{ super() }}
<div class="modal fade" id="sendMessageDialog" tabindex="-1" role="dialog" aria-labelledby="sendMessageDialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">发送私信</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label>发送给: </label>
                </div>
                <div class="form-control">
                    <textarea id="inputMessage" name="message"></textarea>
                </div>
                <button id="send" class="btn btn-primary">确定</button>
            </form>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/scripts/user_profile_operations/profile.load.js"></script>
{{ super() }}
{% endblock %}




