{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    <script src="../static/scripts/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block title %}Seaside - 写文章{% endblock %}

{% block nav_bar %}
            <nav class="navbar navbar-default cast-away-radius">
            <div class="col-md-10 col-md-offset-1">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand active" href="{{ url_for('main.index') }}">Seaside<span>メイド喫茶</span></a>
                </div>
                <p class="navbar-text"><strong>写文章</strong></p>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li></li>
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %}

{% block page_content %}
    <div class="col-md-8 col-md-offset-2">
        <form method="post" action="{{ url_for('main.write_post') }}">
            {{ form.hidden_tag() }}
            <div class="form-group form-group-lg">
                {{ form.title(class="form-control cast-away-border cast-away-shadow", autocomplete="off", placeholder="请输入标题") }}
            </div>
            <div class="form-group">
                {{ form.body(class="form-control ckeditor", rows="30", placeholder="请输入正文") }}
            </div>
            <div >
                {{ form.submit(class="btn btn-muted navbar-btn btn-block") }}
            </div>
        </form>
    </div>
{% endblock %}